<footer class="footer-main">
    {{ site.name }} © {{ site.time | date: '%Y' }}

    <a class="link" href="{{ site.url }}/feed.xml" target="_blank">
        <svg class="icon icon-rss">
            <use xlink:href="#icon-rss"></use>
        </svg>
    </a>
    <p class="extra">
        Todo el contenido publicado está sujeto a la 
        <a class="link" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Licencia Creative Commons Atribución-NoComercial-CompartirIgual 4.0 Internacional</a>;
        Para cualquier permiso adicional o excepción, comuniquese por
        <a class="link" href="mailto:nieurinaiz@gmail.com">correo electrónico</a>
    </p>
<!--
    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
        by
        <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p>
-->
</footer>
