</br>
</br>
<div>
    <center><h2>Post resaltaos</h2></center>
    <br>
    <br>
    <br>
		<a href="http://public.tableau.com/profile/arti#!/" target="_blank"><img src="https://3.bp.blogspot.com/-IE38CtRKco4/XIXpZteiDoI/AAAAAAAAVIc/4psAYDFVA243ZnIHFp1AhEsnlukQx6_RwCLcBGAs/s1600/Screenshot_2019-03-11_11-33-18.png" height="250px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://github.com/aannasw/movies-capstone/blob/master/Capstone%20Project.pdf" target="_blank"><img src="https://3.bp.blogspot.com/-IE38CtRKco4/XIXpZteiDoI/AAAAAAAAVIc/4psAYDFVA243ZnIHFp1AhEsnlukQx6_RwCLcBGAs/s1600/Screenshot_2019-03-11_11-33-18.png" height="250px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="http://soc.sh/n2IqhVcpTf" target="_blank"><img src="https://3.bp.blogspot.com/-IE38CtRKco4/XIXpZteiDoI/AAAAAAAAVIc/4psAYDFVA243ZnIHFp1AhEsnlukQx6_RwCLcBGAs/s1600/Screenshot_2019-03-11_11-33-18.png" height="250px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://github.com/aannasw/starbucks-leaflet" target="_blank"><img src="aannasw.github.io/assets/images/custom/station_map_franchise-type-gray.png" height="250px" width="250px" /></a>
		&nbsp;&nbsp;&nbsp;
</div>