<style type="text/css">

	.cuadriculafeed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 250px;
}
	</style>


</br>
</br>
<div>
	<br>
	<br>
    <center><h2>Post resaltaos</h2></center>
    <br>
	<br>
	
	<div class="cuadriculafeed">
		<div>		
			<a href="#" target="_blank"><img src="{{ site.url }}/assets/images/feed.png" 
			height="250px" width="250px" /></a>
		</div>

		<div>		
			<a href="#" target="_blank"><img src="{{ site.url }}/assets/images/feed.png" 
			height="250px" width="250px" /></a>
		</div>

		<div>		
			<a href="#" target="_blank"><img src="{{ site.url }}/assets/images/feed.png" 
			height="250px" width="250px" /></a>
		</div>

		<div>		
			<a href="#" target="_blank"><img src="{{ site.url }}/assets/images/feed.png" 
			height="250px" width="250px" /></a>
		</div>

		<div>		
			<a href="#" target="_blank"><img src="{{ site.url }}/assets/images/feed.png" 
			height="250px" width="250px" /></a>
		</div>

		<div>		
			<a href="#" target="_blank"><img src="{{ site.url }}/assets/images/feed.png" 
			height="250px" width="250px" /></a>
		</div>

	</div>
</div>